$root-class: 'nav-bar';

.#{$root-class} {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #f2f3f7;

  &__list {
    font-size: var(--fontsize-nav);
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color: white !important;
  }
}
