$root-class: 'nav-item';

.#{$root-class} {
  margin: 0 0 30px 0;
  text-transform: uppercase;

  &:hover {
    font-weight: bolder;
  }

  &__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    letter-spacing: 1px;
  }

  // &:visited {
  //   text-decoration: none;
  // }

  // &:hover {
  //   text-decoration: underline;
  // }

  // &:active {
  //   text-decoration: underline;
  // }
}
