$root-class: 'social';

.#{$root-class} {
  //   position: absolute;
  //   margin-top: 20px;
  //   display: flex;
  //   bottom: 60px;
  text-align: center;
  bottom: 10px;
}

i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

i:hover {
  //   color: #ffffff;
  text-decoration: underline;
}
